<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" href="/announcements">Announcements</a>
    <a class="sidebar-nav-item" href="https://helix-toolkit.github.io/docs/">Documentation</a>
    <a class="sidebar-nav-item" href="/demos">Demos</a>
    <a class="sidebar-nav-item" href="/support">Support</a>
    <a class="sidebar-nav-item" href="/showcase">Showcase</a>
    <span class="sidebar-nav-item" style="font-weight: bold; margin-top: 10px;">Projects</span>
    <a class="sidebar-nav-item" href="{{ site.github.url }}">Helix Toolkit</a>
    <a class="sidebar-nav-item" href="https://github.com/helix-toolkit/helix-toolkit-nex">Helix Toolkit Nex</a>
    <span class="sidebar-nav-item" style="font-weight: bold; margin-top: 10px;">Resources</span>
    <a class="sidebar-nav-item" href="{{ site.build }}">Builds</a>
    <a class="sidebar-nav-item" href="{{ site.nuget }}">NuGet packages</a>
    <a class="sidebar-nav-item" href="{{ site.github.url }}/issues">Issues</a>
    <span class="sidebar-nav-item">Current version: {{ site.version }}</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
